.DS_Store
/_docs
/design/logo/search/mosaic.psd
/design/logo/search/gradient.ai
/design/logo/search/gradient.afdesign
/design/logo/search/gradient.psd
/design/logo/search/mosaic.ai
/design/logo/search/wcparis18-search.afdesign
/design/logo/wcparis18-logos-v1.afdesign
/design/wapuu/tour-eiffel.afdesign
/design/wapuu/wapuu-paris-eiffel.afdesign
/design/wapuu/wapuu-paris-snowglobe.afdesign
/design/web/bannière/wcparis2018-banner-1852x320.afdesign
/design/tshirt/wcparis18-tshirts.psd
/design/tshirt/sources
/design/logo/sources
/design/wapuu/sources
/design/web/bannière/sources
/design/logo/search
