/**
 * Styles utilisés sur le site 2018.
 *
 * Thème utilisé: TwentySeventeen
 */


/* Pink: #bb2458 */

/* Override */


body,
button,
input,
select,
textarea,
h1, h2, h3, h4, h5, h6,
.site-title,
#top-menu li {
	font-family: 'Miriam Libre', sans-serif;
}
h1, h2, h3, h4, h5, h6,
#top-menu li {
	font-weight: 700 !important;
}
h1 {
	text-transform: uppercase;
}

p, li {
	font-family: 'Asap', sans-serif;
}

.navigation-top {
	font-size: .95rem;
}
.navigation-top .wrap {
	padding: .75em;
}
@media screen and (min-width: 60em) {
	.navigation-top .wrap {
		padding: .75em 2em;
	}
}

.twentyseventeen-front-page .panel-content .recent-posts article,
.blog .site-main > article,
.archive .site-main > article, .search .site-main > article {
	border-bottom: #bb2458 1px dotted;
	padding-bottom: 1.5em;
	margin-bottom: 3em;
}

/* Header */

	@keyframes pulse {
	  from {
		  opacity: .9;
		  transform: scale(1);
	  }

	  50% {
		  opacity: 1;
		  transform: scale(1.02);
	  }

	  to {
		  opacity: .9;
		  transform: scale(1);
	  }
	}


.custom-logo-link img {
	max-height: 250px;
	height: 100px;
	width: 100px;
}

.home .site-branding .wrap,
.home.has-header-image.twentyseventeen-front-page .site-branding {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.home .site-branding .wrap {
	padding: 0;
}

.home .custom-logo-link {
	display: block;
	width: 300px;
	height: 300px;
	padding: 0;
	margin: 0;

	animation: pulse 4s;

	background: url(https://2018.paris.wordcamp.org/files/2017/10/wcparis18-icon-1000px.png) 0 0 no-repeat;
	background-size: cover;
}


.home .custom-logo-link,
.site-description,
.site-title {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.site-branding {
	padding: 1em 0;
	overflow: hidden;
}

.site-branding-text {
	margin: 0 !important;
	float: none !important;
}
.site-title {
	display: block;
	width: 150px;
	height: 70px;

	background: url(https://2018.paris.wordcamp.org/files/2017/10/wcparis18-header-title.png) 0 0 no-repeat;
	background-size: cover;
}
.home .site-title {
	width: 215px;
	height: 100px;
}
.site-description {
	position: absolute;
	width: 1px; height: 1px;
}

.home.has-header-image.twentyseventeen-front-page .site-branding {
	bottom: auto;
	top: 0;
	height: 80vh;
}


@media screen and (min-width: 48em) {

	.home .site-branding .wrap,
	.home.has-header-image.twentyseventeen-front-page .site-branding {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.home .site-branding {
		padding-bottom: 77px;
	}

	.home .custom-logo-link {
		width: 330px;
		height: 330px;
	}

	.custom-logo-link img {
		max-height: 250px;
		height: 250px;
		width: 250px;
	}

	.site-title {
		width: 215px;
		height: 100px;
	}
	.site-branding-text {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

	}
	.home .site-branding-text {
		left: 328px;
	}

	.home.has-header-image.twentyseventeen-front-page .site-branding {
		height: 100vh;
	}

}

@media screen and (min-width: 60em) {
	.home .custom-logo-link {
		width: 360px;
		height: 360px;
	}
	.home .site-branding-text {
		left: 360px;
	}
}

@media screen and (min-width: 74em) {
	.home .site-title {
		width: 300px;
		height: 140px;
	}
	.home .site-branding-text {
		left: 500px;
	}

	.home .custom-logo-link {
		width: 500px;
		height: 500px;
	}

}




/* Dots */



@media screen and (min-width: 74em) {

	.home .site-branding .wrap::before,
	.home .site-branding .wrap::after,
	.home .site-branding-text::before {
		content: '';
		display: block;

		position: absolute;
	}

	.home .site-branding .wrap::before {
		width: 445px;
		height: 395px;
		background: url(https://2018.paris.wordcamp.org/files/2017/10/wcparis2018-header-dots1.png) 0 0 no-repeat;
		background-size: cover;

	    top: 80px;
	    left: -375px;

		animation: rotate-dots1 3s linear;
	}

	.home .site-branding .wrap::after {
		width: 200px;
		height: 215px;
		background: url(https://2018.paris.wordcamp.org/files/2017/10/wcparis2018-header-dots2.png) 0 0 no-repeat;
		background-size: cover;

	    top: 400px;
		left: 440px;

		animation: rotate-dots2 3s linear;
	}

	.home .site-branding-text::before {
		width: 308px;
		height: 250px;
		background: url(https://2018.paris.wordcamp.org/files/2017/10/wcparis2018-header-dots3.png) 0 0 no-repeat;
		background-size: cover;

	    top: -270px;
		left: 0;

		animation: rotate-dots3 3s linear;
	}



	@keyframes rotate-dots1 {
	  from {
	    transform: rotate(0) scale(2);
	    opacity: 0;
	    top: 10%;
	    left: -150%;
	  }

	  to {
	    transform: rotate(359deg) scale(1);
	    opacity: 1;
	    top: 80px;
	    left: -375px;
	  }
	}
	@keyframes rotate-dots2 {
	  from {
	    transform: rotate(0) scale(3);
	    opacity: 0;
	    top: 200%;
	    left: 200%;
	  }

	  to {
	    transform: rotate(-359deg) scale(1);
	    opacity: 1;
	    top: 400px;
		left: 440px;
	  }
	}
	@keyframes rotate-dots3 {
	  from {
	    transform: rotate(0) scale(3);
	    opacity: 0;
	    top: 0;
	    left: 300%;
	  }

	  to {
	    transform: rotate(359deg) scale(1);
	    opacity: 1;
	    top: -270px;
		left: 0;
	  }
	}


}




/* Custom */

.site-branding a:hover, .site-branding a:focus {
	opacity: .9;
}

.colors-custom .site-header {
	background-color: #fff;
}

.colors-custom .custom-logo-link {
	padding-right: 0;
}

.colors-custom .site-branding-text {
	margin-top: 1em;
	float: none;
}

.colors-custom .site-branding-text .site-title a {
	text-transform: none;
	color: #bb2458;
}

.colors-custom .site-branding-text .site-description {
	font-weight: bolder;
	text-align: center;
}

.colors-custom .site-header .navigation-top,
.colors-custom .site-header .navigation-top #top-menu {
	background-color: #144f8f;
}

.colors-custom .main-navigation #top-menu li {
	border-color: #fff;
}

.colors-custom .main-navigation #top-menu li > a,
.colors-custom .main-navigation .menu-toggle {
	color: #fff;
}

.colors-custom .main-navigation .menu-toggle:focus {
	outline: none;
}

.colors-custom .main-navigation ul ul {
	border-color: #144f8f;
}

.colors-custom .main-navigation #top-menu li li a {
	color: #144f8f;
	border-color: #fff;
}

.colors-custom .main-navigation #top-menu li li:hover {
	background-color: #fff;
}

.colors-custom .navigation-top .menu-scroll-down {
	color: #fff !important;
}

/* TITLES */

.colors-custom .page .panel-content h2.entry-title,
.colors-custom h1.entry-title,
.colors-custom h1.page-title,
.colors-custom.page:not(.twentyseventeen-front-page) .entry-title,
.colors-custom .page-title {
	color: #bb2458 !important;
	font-size: 1.8rem;
}

.colors-custom h2 {
	font-size: 1.4rem;
}

/* // TITLES */




.colors-custom .main-navigation #top-menu li.last {
	background-repeat: no-repeat;
	background-position: 1px 45%;
	background-image: url('https://2018.paris.wordcamp.org/files/2017/08/tickets.png');
}

.colors-custom .main-navigation #top-menu li.boussole {
	background-repeat: no-repeat;
	background-position: 1px 45%;
	background-image: url('https://2018.paris.wordcamp.org/files/2018/01/boussole.png');
}

.colors-custom .main-navigation #top-menu li.programme {
	background-repeat: no-repeat;
	background-position: 1px 45%;
	background-image: url('https://2018.paris.wordcamp.org/files/2018/01/programme.png');
}

.colors-custom .main-navigation #top-menu li.livestream {
	background-repeat: no-repeat;
	background-position: 5px 45%;
	background-image: url('https://2018.paris.wordcamp.org/files/2018/03/streaming.png');
}

.colors-custom .main-navigation #top-menu li.last > a,
.colors-custom .main-navigation #top-menu li.boussole a,
.colors-custom .main-navigation #top-menu li.programme a {
	margin-left: 24px;
	background-color: transparent;
}

li.livestream > a {
	margin-left: 26px;
	background-color: transparent;
}

@media screen and (min-width: 48em) {
	.colors-custom .main-navigation #top-menu li.last {
		float: right;
		border-bottom: solid;
		border-color: #FFF;
		margin-right: 1.6rem;
	}
	.colors-custom .main-navigation #top-menu li.last > a,
	.colors-custom .main-navigation #top-menu li.programme a,
	.colors-custom .main-navigation #top-menu li.boussole a {
		margin-left: 12px;
		background-color: transparent;
	}

	.colors-custom .main-navigation #top-menu li.livestream {
		float: right;
		margin-right: 1.6rem;
	}

	.colors-custom .main-navigation #top-menu li.livestream > a {
		margin-left: 12px;
		background-color: transparent;
	}
}

.colors-custom .entry-content a.button {
/* 	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif; */
	font-size: 15px;
	font-size: .9375rem;
	font-weight: 400;
	line-height: 1.66;
	background-color: hsl(220,50%,13%);
	border: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: hsl(220,50%,100%);
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: .875rem;
	font-weight: 800;
	line-height: 1;
	padding: 1em 2em;
	text-shadow: none;
	-webkit-transition: background .2s;
	transition: background .2s;
}

.colors-custom .entry-content a.button:hover {
	color: hsl(220,50%,100%);
	background: hsl(220,50%,46%);
	box-shadow: none !important;
}

.colors-custom .footer-widget-2 section:first-child {
	padding-right: 1em;
}
.colors-custom .footer-widget-2 .widget {
	width: 48%;
	float: left;
}

.colors-custom .wcorg-organizer-description img.avatar {
	float: left;
	margin: 0 1em 1em 0;
}

.colors-custom .wcorg-organizer:not(:last-child) {
	border-bottom: solid 1px #bb2458;
}

.colors-custom .wcorg-organizer {
	padding-top: 1em;
}

.colors-custom h2.wccsp-dates {
	visibility: hidden;
}

/* Makes sure the fixed main navigation menu won't hide part of the text */
:target:before {
	content: "";
	display: block;
	height: 120px;      /* fixed main navigation menu height */
	margin: -120px 0 0; /* negative fixed main navigation menu height */
}

/* Hides English text by default */
.en-text {
	display: none;
}

/* Show it when the target is matching its id attributes */
.en-text:target {
	display: block;
}


/* Add a lighy shadow */
.light-shadow{
	box-shadow: rgba(195, 195, 195, 0.9) 2px 2px 10px;
}

/* Titi smileys ! */
span.titi {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	min-width: 84px;
	height: 62px;
	margin: 0 0.5em;
}

span.titi.blush {
	background: url( 'https://2018.paris.wordcamp.org/files/2017/11/blush.png' ) no-repeat;
}

span.titi.crying {
	background: url( 'https://2018.paris.wordcamp.org/files/2017/11/crying.png' ) no-repeat;
}

span.titi.disappointed {
	background: url( 'https://2018.paris.wordcamp.org/files/2017/11/disappointed.png' ) no-repeat;
}

span.titi.grin {
	background: url( 'https://2018.paris.wordcamp.org/files/2017/11/grin.png' ) no-repeat;
}

span.titi.love {
	background: url( 'https://2018.paris.wordcamp.org/files/2017/11/love.png' ) no-repeat;
}

span.titi.neutral {
	background: url( 'https://2018.paris.wordcamp.org/files/2017/11/neutral.png' ) no-repeat;
}

span.titi.sad {
	background: url( 'https://2018.paris.wordcamp.org/files/2017/11/sad.png' ) no-repeat;
}

span.titi.smile {
	background: url( 'https://2018.paris.wordcamp.org/files/2017/11/smile.png' ) no-repeat;
}

span.titi.smiley {
	background: url( 'https://2018.paris.wordcamp.org/files/2017/11/smiley.png' ) no-repeat;
}

span.titi.mini {
	max-width: 50%;
	min-width: 42px;
	height: 31px;
	background-size: contain;
}

/* Sponsors */
body.single-wcb_sponsor .single-featured-image-header {
	background-color: #FFF;
}

body.single-wcb_sponsor.wcb_sponsor-slug-o2switch .single-featured-image-header {
	background-color: #282827;
}

body.single-wcb_sponsor.wcb_sponsor-slug-planethoster-host-your-world .single-featured-image-header {
	background-color: #81bd41;
}

body.single-wcb_sponsor.wcb_sponsor-slug-wpchef-formation .single-featured-image-header {
	background-color: #2e889a;
}

body.single-wcb_sponsor.wcb_sponsor-slug-wp-search-console .single-featured-image-header {
	background-color: #2d2322;
}

body.twentyseventeen-front-page article.twentyseventeen-panel.post-775 .entry-header {
	display: none;
}

body.twentyseventeen-front-page article.twentyseventeen-panel.post-775 .entry-content {
	float: none!important;
	width: auto!important;
}

body.twentyseventeen-front-page article.twentyseventeen-panel.post-775 .entry-content h2 {
	color: #bb2458 !important;
}

body.twentyseventeen-front-page article.twentyseventeen-panel.post-775 p.solo.sponsor-or img {
    width: 154px;
}

body.twentyseventeen-front-page article.twentyseventeen-panel.post-775 p.solo.sponsor-bronze img {
    width: 61px;
}

@media screen and (min-width: 48em) {
	body.twentyseventeen-front-page article.twentyseventeen-panel.post-775 .entry-content h2 {
		font-size: 1.8rem;
	}

	body.twentyseventeen-front-page article.twentyseventeen-panel.post-775 p.solo.sponsor-or img {
		width: 300px;
	}

	body.twentyseventeen-front-page article.twentyseventeen-panel.post-775 p.solo.sponsor-bronze img {
	    width: 202px;
	}
}

body.twentyseventeen-front-page article.twentyseventeen-panel.post-775 .wp-block-column {
	text-align: center;
}

body.page-slug-sponsors header.entry-header {
	display: none;
}

body.page-slug-sponsors .entry-content h2 {
	color: #bb2458 !important;
	font-size: 1.8rem;
	letter-spacing: 0.14em;
	text-transform: uppercase;
}

body.page-slug-sponsors .entry-content .wcorg-sponsor h3:first-child {
	display: none;
}

body.page-slug-sponsors .entry-content .wcorg-sponsors > div {
	border-bottom: #bb2458 1px dotted;
	padding-bottom: 1.5em;
	margin-bottom: 3em;
}

.wp-block-columns.has-3-columns.wcorg-sponsor-level-micro img {
	box-shadow: none;
	width: 80%;
}

.wp-block-columns.has-3-columns.wcorg-sponsor-level-micro {
	align-items: center;
}

.wp-block-columns.has-3-columns.wcorg-sponsor-level-micro a,
.wp-block-columns.has-3-columns.wcorg-sponsor-level-micro a:hover {
	box-shadow:none;
}

@media screen and (min-width: 48em) {
	body.page-slug-sponsors #primary {
		position: relative;
	}

	body.page-slug-sponsors .entry-content h2 {
		position: absolute;
		left: 0;
	}

	body.page-slug-sponsors .wp-block-columns.has-3-columns.wcorg-sponsor-level-micro {
		margin: 0 0 0.75em;
		padding: 1.5em 0 0;
	}
}

/* Attendees */
#tix-attendees a.tix-field.tix-attendee-twitter {
	box-shadow: none;
}

.tix-field.tix-indiquer-que-je-souhaite-revendre-mon-billet {
	position: absolute;
	width: 18px;
	height: 18px;
	overflow: hidden;
	background: #bb2458;
	border-radius: 50%;
	margin-left: 40px !important;
	margin-top: 18px;
	display: inline-block;
	color: #bb2458;
}

/* Schedule */
body.page-slug-programme.page-two-column:not(.archive) #primary .entry-header,
body.page-slug-programme.page-two-column:not(.archive) #primary .entry-content,
body.page-slug-livestream.page-two-column:not(.archive) #primary .entry-header,
body.page-slug-livestream.page-two-column:not(.archive) #primary .entry-content,
body.parent-pageid-4821.page-two-column:not(.archive) #primary .entry-header,
body.parent-pageid-4821.page-two-column:not(.archive) #primary .entry-content,
body.page-slug-note-de-version.page-two-column:not(.twentyseventeen-front-page) #primary .entry-header,
body.page-slug-note-de-version.page-two-column:not(.twentyseventeen-front-page) #primary .entry-content,
body.twentyseventeen-front-page.page-two-column:not(.archive) #post-1597 .entry-header,
body.twentyseventeen-front-page.page-two-column:not(.archive) #post-1597 .entry-content {
	float: none;
	width: auto;
}

body.page-slug-livestream.page-two-column:not(.archive) #primary .entry-content .layout-column-2,
body.parent-pageid-4821.page-two-column:not(.archive) #primary .entry-content .layout-column-2 {
	padding-top: 1em;
	padding-left: 0.5em;
}

body.page-slug-programme .email-form,
body.page-slug-programme .wcb-session-favourite-icon {
	display: none;
}

body.page-slug-programme .entry-content a.wcpt-session-title {
	display: inline-block;
	color:#bb2458;
	font-size: 1.2em;
	margin-bottom: 0.5em
}

body.page-slug-programme .entry-content .wcpt-session-speakers {
	display: block;
}

body.page-slug-programme .entry-content .wcpt-session-speakers a {
	box-shadow: none;
}

body.page-slug-programme .entry-content table tr.pause,
body.page-slug-programme .entry-content table tr.djeuner {
	background-color: hsl( 214, 50%, 93% );
}

body.page-slug-programme .entry-content table tr.pause td,
body.page-slug-programme .entry-content table tr.djeuner td {
	padding: 1em 0;
}

body.page-slug-programme .wp-block-table a,
body.page-slug-programme .wp-block-table a:hover {
	color: #bb2458;
	font-size: 1.2em;
}

body.page-slug-programme .wp-block-table tr:first-child td {
	font-weight: bold;
}

/* Boussole */
body.page-slug-la-boussole .single-featured-image-header {
	display: none;
}

/* Billetterie */
body.page-slug-billetterie div#tix-notices .tix-notice:before {
	content: "La billetterie est épuisée.";
	width: 100%;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	color: #222;
	position: absolute;
	top: 25%;
	font-weight: bold;
}

body.page-slug-billetterie div#tix-notices .tix-notice {
	position: relative;
	color: lightYellow;
}

/* Note de version */
.release-wapuu {
	max-width:100%;
	width: 100%;
}

.release-wapuu img {
	max-height: 150px;
}

@media screen and (min-width: 48em) {
	.release-intro {
		width: 70%;
	}

	.release-intro:after {
		clear: both;
	}

	.release-wapuu {
		float: right;
		width: 25%;
	}
}

.nav-tab-wrapper {
	border-bottom: 1px solid hsl(220,50%,46%);
	margin: 0;
    padding-top: 9px;
    padding-bottom: 0;
	line-height: inherit;
	height: auto;
}

.nav-tab-wrapper li {
	list-style: none;
	display: inline-block;
	padding-left: 15px;
}

.colors-custom .entry-content .nav-tab-wrapper li a,
.colors-custom .entry-content .nav-tab-wrapper li a:hover {
	box-shadow: none;
	display: block;
	padding: 1em;
	font-size: 18px;
	color: hsl(220,50%,46%);
	border: 1px solid hsl(220,50%,46%);
	background: #fff;
	margin: -1px;
	line-height: 24px;
}

.colors-custom .entry-content .nav-tab-wrapper li > a.current {
	border-bottom-color:#fff;
}

.release-tab {
	display: none;
}

.default-release-tab {
	display:block
}

:target ~ .default-release-tab {
	display: none;
}

#new:target ~ .new-tab,
#props:target ~ .props-tab {
  display: block;
}

.wp-block-cover-image,
.colors-custom .entry-content p.props-intro {
	margin: 1.5em 0;
}

.colors-custom .entry-content .wp-block-cover-image h2 {
	line-height: 1.8em;
	font-size: 1.6rem;
}

.colors-custom .entry-content .wp-block-cover-image h2 a {
	color:#fff;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0), 0 3px 0 rgba(255, 255, 255, 1);
}

.colors-custom .entry-content .wp-block-columns h3,
body.page-slug-livestream.page-two-column:not(.archive) #primary .entry-content .layout-column-2 {
	padding-top: 0;
}

.colors-custom .entry-content .wp-block-columns .layout-column-1,
.colors-custom .entry-content .wp-block-columns .layout-column-2 {
	padding-right: 1.5em;
}

.livestream-cover {
	background-image: url('https://2018.paris.wordcamp.org/files/2018/03/16362806312_7acf0b1cf5_k.jpg');
}

.velotypie-cover {
	background-image: url('https://2018.paris.wordcamp.org/files/2018/03/24212971358_e0f6cefbda_k.jpg');
}

.openbar-cover {
	background-image: url('https://2018.paris.wordcamp.org/files/2018/03/36902079666_556e80b324_k.jpg');
}

.replay-conferences {
	background-image: url('https://2018.paris.wordcamp.org/files/2018/03/replay-conferences.jpg');
}

.replay-ateliers {
	background-image: url('https://2018.paris.wordcamp.org/files/2018/03/replay-ateliers.jpg');
}

.twentyseventeen-panel.post-1597 .panel-image {
	display: none;
}
